
/* Phần khung chứa các hình ảnh và nội dung tiêu đề của các trang liên quan & một số button xem chi tiết đề , xem chi tiết bài giảng,.....*/

.mfp-bg { /*Lớp phủ */
  top: 0; /* Đỉnh */
  left: 0; /* Trái */
  width: 100%; /* Chiều rộng 100% */
  height: 100%; /* Chiều cao% */
  z-index: 1042; /*trục dọc từ phía màn hình ra phía người dùng */
  overflow: hidden; /* Tràn */
  position: fixed; /* Vị trí cố định */
  background: #0b0b0b; /* Màu nền đen */
  opacity: 0.8; } /* Lớp phủ */

.mfp-wrap { /* Khung */
  top: 0; /* Đỉnh */
  left: 0; /* Trái */
  width: 100%; /* Chiều rộng 100% */
  height: 100%; /* Chiều cao 100% */
  z-index: 1043;  /* Trục dọc*/
  position: fixed; /* Vị trí cố định */
  outline: none !important; /* Không có viền */
  -webkit-backface-visibility: hidden; } /* Không có độ mờ */

.mfp-container { /* Khung  */
  text-align: center; /* Căn giữa */
  position: absolute; /* Vị trí tuyệt đối */
  width: 100%;  /* Chiều rộng 100% */
  height: 100%; /* Chiều cao 100% */
  left: 0; /* Trái */
  top: 0; /* Đỉnh */
  padding: 0 8px; /* Padding trái và phải 8px */
  box-sizing: border-box; } /* Khung */

.mfp-container:before { /* Khung lúc sau */
  content: ''; /* Nội dung rỗng */
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before { /* Khung lúc sau */
  display: none; } /* Không hiển thị */

.mfp-content { /* Nội dung */
  position: relative; /* Vị trí tương đối */
  display: inline-block; /* Hiển thị khung */
  vertical-align: middle; /* Căn giữa */
  margin: 0 auto; /* Căn giữa */
  text-align: left; /* Căn trái */
  z-index: 1045; } /* Nội dung */

.mfp-inline-holder .mfp-content, /* Thẻ chứa nội dung */
.mfp-ajax-holder .mfp-content { /* Thẻ chứa nội dung ajax */
  width: 100%; /* Chiều rộng 100% */
  cursor: auto; } /* Con trỏ chuột tự động */

.mfp-ajax-cur { /* Con trỏ chuột ajax */
  cursor: progress; } /* Con trỏ chuột đang tải */

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close { /* Con trỏ chuột zoom out */
  cursor: -moz-zoom-out; /* Con trỏ chuột zoom out */
  cursor: -webkit-zoom-out; /* Con trỏ chuột zoom out */
  cursor: zoom-out; } /* Con trỏ chuột zoom out */

.mfp-zoom { /* Con trỏ chuột zoom */
  cursor: pointer; /* Con trỏ chuột */
  cursor: -webkit-zoom-in; /* Con trỏ chuột zoom */
  cursor: -moz-zoom-in; /* Con trỏ chuột zoom */
  cursor: zoom-in; } /* Con trỏ chuột zoom */

.mfp-auto-cursor .mfp-content { /* Con trỏ chuột tự động */
  cursor: auto; } /* Con trỏ chuột tự động */

.mfp-close, /* Nút đóng */
.mfp-arrow, /* Mũi tên */
.mfp-preloader, /* Trình tải trước */
.mfp-counter { /* Bộ đếm */
  -webkit-user-select: none; /* Không chọn được */
  -moz-user-select: none; /* Không chọn được */
  user-select: none; } /* Không chọn được */

.mfp-loading.mfp-figure { /* Hình ảnh đang tải */
  display: none; } /* Không hiển thị */

.mfp-hide { /* Ẩn */
  display: none !important; } /* Không hiển thị */

.mfp-preloader { /* Trình tải trước */
  color: #CCC; /* Màu sắc */
  position: absolute; /* Vị trí tuyệt đối */
  top: 50%; /* Đỉnh */
  width: auto; /* Chiều rộng tự động */
  text-align: center; /* Căn giữa */
  margin-top: -0.8em; /* Căn giữa */
  left: 8px; /* Trái */
  right: 8px; /* Phải */
  z-index: 1044; } /* Trình tải trước */
  .mfp-preloader a { /* Trình tải trước */
    color: #CCC; } /* Màu sắc */
    .mfp-preloader a:hover { /* Trình tải trước */
      color: #FFF; } /* Màu sắc */

.mfp-s-ready .mfp-preloader { /* Trình tải trước */
  display: none; } /* Không hiển thị */

.mfp-s-error .mfp-content { /* Nội dung */
  display: none; } /* Không hiển thị */
 
button.mfp-close, /* Nút đóng */
button.mfp-arrow { /* Nút đóng và mũi tên */
  overflow: visible; /* Tràn */
  cursor: pointer; /* Con trỏ chuột */
  background: transparent; /* Màu nền trong suốt */
  border: 0; /* Không có viền */
  -webkit-appearance: none; /* Không có hình dạng */
  display: block; /* Hiển thị khung */
  outline: none; /* Không có viền */
  padding: 0; /* Không có padding */
  z-index: 1046; /* Trục dọc */
  box-shadow: none; /* Không có bóng */
  touch-action: manipulation; } /* Hành động chạm */

button::-moz-focus-inner { /* Nút đóng */
  padding: 0; /* Không có padding */
  border: 0; } /* Không có viền */

.mfp-close { /* Nút đóng */
  width: 44px; /* Chiều rộng 44px */
  height: 44px; /* Chiều cao 44px */
  line-height: 44px; /* Chiều cao 44px */
  position: absolute; /* Vị trí tuyệt đối */
  right: 0; /* Phải */
  top: 0; /* Đỉnh */
  text-decoration: none; /* Không có gạch chân */
  text-align: center; /* Căn giữa */
  opacity: 0.65; /* Độ mờ */
  padding: 0 0 18px 10px; /* Padding trái và phải 10px */
  color: #FFF;  /* Màu sắc */
  font-style: normal; /* Kiểu chữ bình thường */
  font-size: 28px;  /* Kích thước chữ 28px */
  font-family: Arial, Baskerville, monospace; } /* Kiểu chữ */
  .mfp-close:hover, /* Nút đóng */
  .mfp-close:focus { /* Nút đóng */
    opacity: 1; } /* Độ mờ */
  .mfp-close:active { /* Nút đóng */
    top: 1px; } /* Nút đóng */

.mfp-close-btn-in .mfp-close { /* Nút đóng */
  color: #333; } /* Màu sắc */

.mfp-image-holder .mfp-close, /* Nút đóng */
.mfp-iframe-holder .mfp-close { /* Nút đóng */
  color: #FFF; /* Màu sắc */
  right: -6px; /* Phải */
  text-align: right; /* Căn phải */
  padding-right: 6px; /* Padding phải 6px */
  width: 100%; } /* Chiều rộng 100% */

.mfp-counter { /* Bộ đếm */
  position: absolute; /* Vị trí tuyệt đối */
  top: 0; /* Đỉnh */
  right: 0; /* Phải */
  color: #CCC; /* Màu sắc */
  font-size: 12px; /* Kích thước chữ 12px */
  line-height: 18px;  /* Chiều cao 18px */
  white-space: nowrap; } /* Không có khoảng trắng */

.mfp-arrow { /* Mũi tên */
  position: absolute; /* Vị trí tuyệt đối */
  opacity: 0.65; /* Độ mờ */
  margin: 0; /* Không có margin */
  top: 50%; /* Đỉnh */
  margin-top: -55px; /* Căn giữa */
  padding: 0; /* Không có padding */
  width: 90px; /* Chiều rộng 90px */  
  height: 110px; /* Chiều cao 110px */
  -webkit-tap-highlight-color: transparent; }     /* Không có màu sắc */
  .mfp-arrow:active { /* Mũi tên */
    margin-top: -54px; } /* Căn giữa */
  .mfp-arrow:hover, /* Mũi tên */
  .mfp-arrow:focus { /* Mũi tên */
    opacity: 1; } /* Độ mờ */
  .mfp-arrow:before, /* Mũi tên */
  .mfp-arrow:after { /* Mũi tên */
    content: '';  
    display: block; /* Hiển thị khung */
    width: 0; /* Không có chiều rộng */
    height: 0; /* Không có chiều cao */
    position: absolute; /* Vị trí tuyệt đối */
    left: 0; /* Trái */
    top: 0; /* Đỉnh */
    margin-top: 35px; /* Căn giữa */
    margin-left: 35px; /* Căn giữa */
    border: medium inset transparent; } /* Mũi tên */
  .mfp-arrow:after { /* Mũi tên */
    border-top-width: 13px;  /*  Độ dày mũi tên */
    border-bottom-width: 13px; /* Độ dày mũi tên */
    top: 8px; } /* Đỉnh 8px */
  .mfp-arrow:before { /* Mũi tên */
    border-top-width: 21px; /* Độ dày mũi tên */
    border-bottom-width: 21px; /* Độ dày mũi tên */
    opacity: 0.7; } /* Độ mờ */

.mfp-arrow-left { /* Mũi tên trái */
  left: 0; } /* Mũi tên trái */
  .mfp-arrow-left:after { /* Mũi tên trái */
    border-right: 17px solid #FFF; /* Màu sắc */
    margin-left: 31px; } /* Mũi tên trái */
  .mfp-arrow-left:before { /* Mũi tên trái */
    margin-left: 25px; /* Mũi tên trái */
    border-right: 27px solid #3F3F3F; } /* Mũi tên trái */

.mfp-arrow-right { /* Mũi tên phải */
  right: 0; } /* Mũi tên phải */
  .mfp-arrow-right:after { /* Mũi tên phải */
    border-left: 17px solid #FFF; /* Màu sắc */
    margin-left: 39px; } /* Mũi tên phải */
  .mfp-arrow-right:before { /* Mũi tên phải */
    border-left: 27px solid #3F3F3F; }  /* Mũi tên phải */

.mfp-iframe-holder { /* Khung iframe */
  padding-top: 40px; /* Padding trên 40px */
  padding-bottom: 40px; } /* Khung iframe */
  .mfp-iframe-holder .mfp-content { /* Nội dung iframe */
    line-height: 0; /* Chiều cao 0 */
    width: 100%; /* Chiều rộng 100% */
    max-width: 900px; } /* Khung iframe */
  .mfp-iframe-holder .mfp-close { /* Nút đóng iframe */
    top: -40px; } /* Nút đóng iframe */

.mfp-iframe-scaler { /* Khung iframe */
  width: 100%; /* Chiều rộng 100% */
  height: 0; /* Chiều cao 0 */
  overflow: hidden; /* Tràn */
  padding-top: 56.25%; } /* Tỷ lệ khung iframe */
  .mfp-iframe-scaler iframe { /* Khung iframe */
    position: absolute; /* Vị trí tuyệt đối */
    display: block; /* Hiển thị khung */
    top: 0; /* Đỉnh */
    left: 0; /* Trái */
    width: 100%; /* Chiều rộng 100% */
    height: 100%; /* Chiều cao 100% */
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6); /* Bóng đổ */
    background: #000; } /* Màu nền đen */


    /* Hình ảnh */
img.mfp-img { /* Hình ảnh */
  width: auto; /* Chiều rộng tự động */
  max-width: 100%; /* Chiều rộng tối đa 100% */
  height: auto; /* Chiều cao tự động */
  display: block; /* Hiển thị khung */
  line-height: 0; /* Chiều cao 0 */
  box-sizing: border-box; /* Khung */
  padding: 40px 0 40px; /* Padding trên và dưới 40px */
  margin: 0 auto; } /* Hình ảnh */

  /* Hình ảnh */
.mfp-figure { /* Hình ảnh */
  line-height: 0; } /* Chiều cao 0 */
  .mfp-figure:after { /* Hình ảnh */
    content: ''; 
    position: absolute; /* Vị trí tuyệt đối */
    left: 0; /* Trái */
    top: 40px; /* Đỉnh */
    bottom: 40px; /* Đáy */
    display: block; /* Hiển thị khung */
    right: 0; /* Phải */
    width: auto; /* Chiều rộng tự động */
    height: auto; /* Chiều cao tự động */
    z-index: -1; /* Trục dọc */
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6); /* Bóng đổ */
    background: #444; } /* Màu nền xám */
  .mfp-figure small { /* Hình ảnh */
    color: #BDBDBD; /* Màu sắc */
    display: block; /* Hiển thị khung */
    font-size: 12px; /* Kích thước chữ 12px */
    line-height: 14px; } /* Chiều cao 14px */
  .mfp-figure figure { /* Hình ảnh */
    margin: 0; } /* Không có margin */

.mfp-bottom-bar { /* Thanh dưới */
  margin-top: -36px; /* Căn giữa */
  position: absolute; /* Vị trí tuyệt đối */
  top: 100%;  /* Đáy */
  left: 0; /* Trái */
  width: 100%; /* Chiều rộng 100% */
  cursor: auto; }   /* Thanh dưới */

.mfp-title { /* Tiêu đề */
  text-align: left; /* Căn trái */
  line-height: 18px; /* Chiều cao 18px */
  color: #F3F3F3; /* Màu sắc */
  word-wrap: break-word; /* Ngắt từ */
  padding-right: 36px; } /* Tiêu đề */

.mfp-image-holder .mfp-content { /* Nội dung hình ảnh */
  max-width: 100%; } /* Chiều rộng tối đa 100% */
 
.mfp-gallery .mfp-image-holder .mfp-figure { /* Hình ảnh */
  cursor: pointer; } /* Hình ảnh */

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) { /* Khung hình ảnh */
  /**
       *Xóa tất cả các phần đệm xung quanh hình ảnh trên màn hình nhỏ
       */
  .mfp-img-mobile .mfp-image-holder { /* Hình ảnh */
    padding-left: 0; /* Không có padding trái */
    padding-right: 0; } /* Hình ảnh */
  .mfp-img-mobile img.mfp-img { /* Hình ảnh */
    padding: 0; } /* Hình ảnh */
  .mfp-img-mobile .mfp-figure:after { /* Hình ảnh */
    top: 0; /* Đỉnh */
    bottom: 0; } /* Hình ảnh */
  .mfp-img-mobile .mfp-figure small { /* Hình ảnh */
    display: inline; /* Hiển thị khung */
    margin-left: 5px; } /* Hình ảnh */
  .mfp-img-mobile .mfp-bottom-bar { /* Thanh dưới */
    background: rgba(0, 0, 0, 0.6); /* Màu nền */
    bottom: 0; /* Đáy */
    margin: 0; /* Không có margin */
    top: auto; /* Không có đỉnh */
    padding: 3px 5px; /* Padding trên và dưới 3px, trái và phải 5px */
    position: fixed; /* Vị trí cố định */
    box-sizing: border-box; } /* Thanh dưới */
    .mfp-img-mobile .mfp-bottom-bar:empty { /* Thanh dưới */
      padding: 0; } /* Không có padding */
  .mfp-img-mobile .mfp-counter { /* Bộ đếm */
    right: 5px; /* Phải */
    top: 3px; } /* Đỉnh */
  .mfp-img-mobile .mfp-close { /* Nút đóng */
    top: 0; /* Đỉnh */
    right: 0; /* Phải */
    width: 35px; /* Chiều rộng 35px */
    height: 35px; /* Chiều cao 35px */
    line-height: 35px; /* Chiều cao 35px */
    background: rgba(0, 0, 0, 0.6); /* Màu nền */
    position: fixed; /* Vị trí cố định */
    text-align: center; /* Căn giữa */
    padding: 0; } } /* Nút đóng */

@media all and (max-width: 900px) { /* Khung hình ảnh */
  .mfp-arrow { /*/ Mũi tên */
    -webkit-transform: scale(0.75); /* Mũi tên */
    transform: scale(0.75); } /* Mũi tên */
  .mfp-arrow-left { /* Mũi tên trái */
    -webkit-transform-origin: 0; /* Mũi tên trái */
    transform-origin: 0; } /* Mũi tên trái */
  .mfp-arrow-right { /* Mũi tên phải */
    -webkit-transform-origin: 100%; /* Mũi tên phải */
    transform-origin: 100%; } /* Mũi tên phải */
  .mfp-container { /* Khung */
    padding-left: 6px;  /* Padding trái 6px */
    padding-right: 6px; } } /* Padding phải 6px*/
