
/* Liên quan đến một số phần tử menu trong trang web. */

.slicknav_btn { /*Dùng để thiết lập một nút bấm trong menu. */
  position: relative; /*Dùng để thiết lập một phần tử sử dụng các thuộc tính position mà không làm ảnh hưởng đến việc hiển thị ban đầu. */

  display: block; /*Dùng để hiển thị một phần tử như một khối, chiếm toàn bộ chiều rộng của phần tử cha. */
  vertical-align: middle; /*Dùng để căn chỉnh phần tử theo chiều dọc với các phần tử khác trong cùng một dòng. */
  float: right; /*Dùng để đẩy phần tử sang bên phải của phần tử cha. */
  padding: 0.438em 0.625em 0.438em 0.625em; /*Dùng để thiết lập khoảng cách giữa nội dung của phần tử và các cạnh của nó. */
  line-height: 1.125em; /*Dùng để thiết lập chiều cao của dòng văn bản trong phần tử. */
  cursor: pointer; } /*Dùng để thay đổi con trỏ chuột khi di chuột qua phần tử. */
  .slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar { /*Dùng để thiết lập khoảng cách giữa các thanh icon trong phần tử. */
    margin-top: 0.188em; } /*Dùng để thiết lập khoảng cách giữa các thanh icon trong phần tử. */

.slicknav_menu { /*Dùng để thiết lập một menu trong trang web. */
  *zoom: 1; } /*Dùng để thiết lập một menu trong trang web. */
  .slicknav_menu .slicknav_menutxt { /*Dùng để thiết lập một văn bản trong menu. */
    display: block; /*Dùng để hiển thị một phần tử như một khối, chiếm toàn bộ chiều rộng của phần tử cha. */
    line-height: 1.188em; /*Dùng để thiết lập chiều cao của dòng văn bản trong phần tử. */
    float: left; } /*Dùng để đẩy phần tử sang bên trái của phần tử cha. */
  .slicknav_menu .slicknav_icon { /*Dùng để thiết lập một icon trong menu. */
    float: left; /*Dùng để đẩy phần tử sang bên trái của phần tử cha. */
    width: 1.125em; /*Dùng để thiết lập chiều rộng của icon. */
    height: 0.875em; /*Dùng để thiết lập chiều cao của icon. */
    margin: 0.188em 0 0 0.438em; } /*Dùng để thiết lập khoảng cách giữa icon và các cạnh của nó. */
    .slicknav_menu .slicknav_icon:before { /*Dùng để thiết lập một icon trong menu. */
      background: transparent; /*Dùng để thiết lập màu nền của icon. */
      width: 1.125em; /*Dùng để thiết lập chiều rộng của icon. */
      height: 0.875em; /*Dùng để thiết lập chiều cao của icon. */
      display: block; /*Dùng để hiển thị một phần tử như một khối, chiếm toàn bộ chiều rộng của phần tử cha. */
      content: "";
      position: absolute; } /*Dùng để thiết lập một icon trong menu. */
  .slicknav_menu .slicknav_no-text { /*Dùng để thiết lập một văn bản trong menu. */
    margin: 0; } /*Dùng để thiết lập khoảng cách giữa văn bản và các cạnh của nó. */
  .slicknav_menu .slicknav_icon-bar { /*Dùng để thiết lập một thanh icon trong menu. */
    display: block; /*Dùng để hiển thị một phần tử như một khối, chiếm toàn bộ chiều rộng của phần tử cha. */
    width: 1.125em; /*Dùng để thiết lập chiều rộng của thanh icon. */
    height: 0.125em;} /*Dùng để thiết lập chiều cao của thanh icon. */
  .slicknav_menu:before { /*Dùng để thiết lập một phần tử trước menu. */
    content: " ";
    display: table; } /*Dùng để thiết lập một phần tử trước menu. */
  .slicknav_menu:after { /*Dùng để thiết lập một phần tử sau menu. */
    content: " "; 
    display: table; /*  Dùng để thiết lập một phần tử sau menu. */
    clear: both; } /*Dùng để thiết lập một phần tử sau menu. */

.slicknav_nav { /*Dùng để thiết lập một menu trong trang web. */
  clear: both; } /*Dùng để thiết lập một menu trong trang web. */
  .slicknav_nav ul { /*Dùng để thiết lập một menu con trong trang web. */
    display: block; } /*Dùng để thiết lập một menu con trong trang web. */
  .slicknav_nav li { /*Dùng để thiết lập một phần tử trong menu. */
    display: block; } /*Dùng để thiết lập một phần tử trong menu. */
  .slicknav_nav .slicknav_arrow { /*Dùng để thiết lập một mũi tên trong menu. */
    font-size: 0.8em; /*Dùng để thiết lập kích thước chữ của mũi tên. */
    margin: 0 0 0 0.4em; } /*Dùng để thiết lập khoảng cách giữa mũi tên và các cạnh của nó. */
  .slicknav_nav .slicknav_item { /*Dùng để thiết lập một phần tử trong menu. */
    cursor: pointer; } /*Dùng để thay đổi con trỏ chuột khi di chuột qua phần tử. */
    .slicknav_nav .slicknav_item a { /*Dùng để thiết lập một liên kết trong menu. */
      display: inline; } /*Dùng để thiết lập một liên kết trong menu. */
  .slicknav_nav .slicknav_row { /*Dùng để thiết lập một hàng trong menu. */
    display: block; } /*Dùng để thiết lập một hàng trong menu. */
  .slicknav_nav a { /*Dùng để thiết lập một liên kết trong menu. */
    display: block; } /*Dùng để thiết lập một liên kết trong menu. */
  .slicknav_nav .slicknav_parent-link a { /*Dùng để thiết lập một liên kết trong menu. */
    display: inline; } /*Dùng để thiết lập một liên kết trong menu. */

.slicknav_brand { /*Dùng để thiết lập một thương hiệu trong menu. */
  float: left; } /*Dùng để đẩy phần tử sang bên trái của phần tử cha. */

.slicknav_menu { /*Dùng để thiết lập một menu trong trang web. */
  font-size: 16px; /*Dùng để thiết lập kích thước chữ của menu. */
  box-sizing: border-box; /*Dùng để thiết lập cách tính toán kích thước của phần tử. */
  background: #4c4c4c; /*Dùng để thiết lập màu nền của menu. */
  padding: 5px; } /*Dùng để thiết lập khoảng cách giữa nội dung của phần tử và các cạnh của nó. */
  .slicknav_menu * { /*Dùng để thiết lập tất cả các phần tử trong menu. */
    box-sizing: border-box; } /*Dùng để thiết lập cách tính toán kích thước của phần tử. */
  .slicknav_menu .slicknav_menutxt { /*Dùng để thiết lập một văn bản trong menu. */
    color: #fff; /*Dùng để thiết lập màu chữ của văn bản. */
    font-weight: bold; } /*Dùng để thiết lập độ đậm của chữ của văn bản. */
  .slicknav_menu .slicknav_icon-bar { /*Dùng để thiết lập một thanh icon trong menu. */
      background-color: #dca73a !important; /*Dùng để thiết lập màu nền của thanh icon. */
    }

    .slicknav_btn { /*Dùng để thiết lập một nút bấm trong menu. */
      margin: 5px 5px 6px; /*Dùng để thiết lập khoảng cách giữa nút bấm và các cạnh của nó. */
      text-decoration: none; /*Dùng để xóa gạch chân của liên kết. */
      background-color: none; /*Dùng để thiết lập màu nền của nút bấm. */
    }

.slicknav_nav { /*Dùng để thiết lập một menu trong trang web. */
  color: #fff; /*Dùng để thiết lập màu chữ của menu. */
  margin: 0; /* Dùng để thiết lập khoảng cách giữa menu và các cạnh của nó. */
  padding: 0; /*Dùng để thiết lập khoảng cách giữa nội dung của phần tử và các cạnh của nó. */
  font-size: 0.875em; /*Dùng để thiết lập kích thước chữ của menu. */
  list-style: none; /*Dùng để xóa dấu đầu dòng của danh sách. */
  overflow: hidden; } /*Dùng để xóa dấu đầu dòng của danh sách. */
  .slicknav_nav ul { /*Dùng để thiết lập một menu con trong trang web. */
    list-style: none; /*Dùng để xóa dấu đầu dòng của danh sách. */
    overflow: hidden; /*Dùng để xóa dấu đầu dòng của danh sách. */
    padding: 0; /*Dùng để thiết lập khoảng cách giữa nội dung của phần tử và các cạnh của nó. */
    margin: 0 0 0 20px; } /*Dùng để thiết lập khoảng cách giữa menu con và các cạnh của nó. */
  .slicknav_nav .slicknav_row { /*Dùng để thiết lập một hàng trong menu. */
    
    /* padding: 5px 10px; */
    margin: 2px 5px; /*Dùng để thiết lập khoảng cách giữa hàng và các cạnh của nó. */
  }
    .slicknav_nav .slicknav_row:hover { /*Dùng để thiết lập một hàng trong menu. */
      -webkit-border-radius: 6px; /*Dùng để thiết lập bo tròn các góc của hàng. */
      -moz-border-radius: 6px; /* Dùng để thiết lập bo tròn các góc của hàng. */
      border-radius: 6px; /*Dùng để thiết lập bo tròn các góc của hàng. */
      background: #ccc; /*Dùng để thiết lập màu nền của hàng. */
      color: #fff; } /*Dùng để thiết lập màu chữ của hàng. */
  .slicknav_nav a { /*Dùng để thiết lập một liên kết trong menu. */
    padding: 5px 10px; /*Dùng để thiết lập khoảng cách giữa liên kết và các cạnh của nó. */
    margin: 2px 5px; /*Dùng để thiết lập khoảng cách giữa liên kết và các cạnh của nó. */
    text-decoration: none; /*Dùng để xóa gạch chân của liên kết. */
    color: #fff; } /*Dùng để thiết lập màu chữ của liên kết. */
    .slicknav_nav a:hover { /*Dùng để thiết lập một liên kết trong menu. */
      -webkit-border-radius: 0px; /*Dùng để thiết lập bo tròn các góc của liên kết. */
      -moz-border-radius: 0px; /*Dùng để thiết lập bo tròn các góc của liên kết. */
      border-radius: 0px; /*Dùng để thiết lập bo tròn các góc của liên kết. */
      background: #ccc; /*Dùng để thiết lập màu nền của liên kết. */
      color: #222; } /*Dùng để thiết lập màu chữ của liên kết. */
  .slicknav_nav .slicknav_txtnode { /*Dùng để thiết lập một văn bản trong menu. */
    margin-left: 15px; } /*Dùng để thiết lập khoảng cách giữa văn bản và các cạnh của nó. */
  .slicknav_nav .slicknav_item a { /*Dùng để thiết lập một liên kết trong menu. */
    padding: 0; /*Dùng để thiết lập khoảng cách giữa liên kết và các cạnh của nó. */
    margin: 0; } /*Dùng để thiết lập khoảng cách giữa liên kết và các cạnh của nó. */
  .slicknav_nav .slicknav_parent-link a { /*Dùng để thiết lập một liên kết trong menu. */
    padding: 0; /*Dùng để thiết lập khoảng cách giữa liên kết và các cạnh của nó. */
    margin: 0; } /*Dùng để thiết lập khoảng cách giữa liên kết và các cạnh của nó. */

.slicknav_brand { /*Dùng để thiết lập một thương hiệu trong menu. */
  color: #fff; /*Dùng để thiết lập màu chữ của thương hiệu. */
  font-size: 18px; /*Dùng để thiết lập kích thước chữ của thương hiệu. */
  line-height: 30px; /*Dùng để thiết lập chiều cao của dòng văn bản trong thương hiệu. */
  padding: 7px 12px; /*Dùng để thiết lập khoảng cách giữa nội dung của thương hiệu và các cạnh của nó. */
  height: 44px; } /*Dùng để thiết lập chiều cao của thương hiệu. */




.mobile_menu { /*Dùng để thiết lập một menu trong trang web. */
	position: absolute; /*Dùng để thiết lập một menu trong trang web. */
	right: 10px; /*Dùng để thiết lập một menu trong trang web. */
	width: 96%;  /*Dùng để thiết lập một menu trong trang web. */
	z-index: 99;  /*Dùng để thiết lập một menu trong trang web. */
}
.slicknav_menu .slicknav_menutxt { /*Dùng để thiết lập một văn bản trong menu. */
    display: none; /*Dùng để ẩn đi văn bản trong menu. */
}
.slicknav_menu { /*Dùng để thiết lập một menu trong trang web. */
    background: transparent; /*Dùng để thiết lập màu nền của menu. */
    margin-top: 10px; /*Dùng để thiết lập khoảng cách giữa menu và các cạnh của nó. */
}
.slicknav_menu .slicknav_icon-bar { /*Dùng để thiết lập một thanh icon trong menu. */
    background-color: #ffffff; /*Dùng để thiết lập màu nền của thanh icon. */
    height: 3px; /*Dùng để thiết lập chiều cao của thanh icon. */
    margin: 5px 0; /*Dùng để thiết lập khoảng cách giữa thanh icon và các cạnh của nó. */
    -webkit-transition: all 0.3s ease 0s; /*Dùng để thiết lập hiệu ứng chuyển động của thanh icon. */
    -o-transition: all 0.3s ease 0s; /*Dùng để thiết lập hiệu ứng chuyển động của thanh icon. */
    transition: all 0.3s ease 0s; /*Dùng để thiết lập hiệu ứng chuyển động của thanh icon. */
    width: 30px; /*Dùng để thiết lập chiều rộng của thanh icon. */
    position: relative; /*Dùng để thiết lập một thanh icon trong menu. */
}
.slicknav_btn { /*Dùng để thiết lập một nút bấm trong menu. */
	background-color: transparent; /*Dùng để thiết lập màu nền của nút bấm. */
	cursor: pointer; /*Dùng để thay đổi con trỏ chuột khi di chuột qua nút bấm. */
	margin-bottom: 10px; /*Dùng để thiết lập khoảng cách giữa nút bấm và các cạnh của nó. */
	margin-top: -35px; /*Dùng để thiết lập khoảng cách giữa nút bấm và các cạnh của nó. */
	position: relative; /*Dùng để thiết lập một nút bấm trong menu. */
	z-index: 99; /*Dùng để thiết lập một nút bấm trong menu. */
}

.slicknav_menu { /*Dùng để thiết lập một menu trong trang web. */
  margin: 0; /*Dùng để thiết lập khoảng cách giữa menu và các cạnh của nó. */
  padding: 0; /*Dùng để thiết lập khoảng cách giữa nội dung của menu và các cạnh của nó. */
}
.slicknav_icon-bar { /*Dùng để thiết lập một thanh icon trong menu. */
    background: #fff !important; /*Dùng để thiết lập màu nền của thanh icon. */
}
.slicknav_nav { /*Dùng để thiết lập một menu trong trang web. */
	background: #fff; /*Dùng để thiết lập màu nền của menu. */
	float: right; /*Dùng để đẩy phần tử sang bên phải của phần tử cha. */
	margin-top: 11px; /*Dùng để thiết lập khoảng cách giữa menu và các cạnh của nó. */
	padding: 19px; /* Dùng để thiết lập khoảng cách giữa nội dung của menu và các cạnh của nó. */
	width: 100%; /*Dùng để thiết lập chiều rộng của menu. */
	border-bottom: 1px solid #eee; /*Dùng để thiết lập viền dưới của menu. */
}
.slicknav_nav a:hover { /*Dùng để thiết lập một liên kết trong menu. */
    background: #F79960 none repeat scroll 0 0; /*Dùng để thiết lập màu nền của liên kết. */
    border-radius: 0; /*Dùng để thiết lập bo tròn các góc của liên kết. */
    color: #ffffff; /*Dùng để thiết lập màu chữ của liên kết. */
}

.slicknav_nav a { /*Dùng để thiết lập một liên kết trong menu. */
    font-size: 14px; /*Dùng để thiết lập kích thước chữ của liên kết. */
    font-weight: 400; /*Dùng để thiết lập độ đậm của chữ của liên kết. */
    color: #000; /*Dùng để thiết lập màu chữ của liên kết. */
    text-transform: capitalize; /*Dùng để thiết lập kiểu chữ của liên kết. */
}

.slicknav_nav .slicknav_arrow { /*Dùng để thiết lập một mũi tên trong menu. */
    float: right; /*Dùng để đẩy phần tử sang bên phải của phần tử cha. */
}

.slicknav_nav .slicknav_row:hover, /*Dùng để thiết lập một hàng trong menu. */
.slicknav_nav .slicknav_row:hover .slicknav_arrow { /*Dùng để thiết lập một hàng trong menu. */
    border-radius: 0; /*Dùng để thiết lập bo tròn các góc của hàng. */
    background-color: #F79960; /*Dùng để thiết lập màu nền của hàng. */
    background-color: transparent; /*Dùng để thiết lập màu nền của hàng. */
    color: #000; /*Dùng để thiết lập màu chữ của hàng. */
}
.slicknav_btn { /*Dùng để thiết lập một nút bấm trong menu. */
	background-color: transparent; /*Dùng để thiết lập màu nền của nút bấm. */
	cursor: pointer; /*Dùng để thay đổi con trỏ chuột khi di chuột qua nút bấm. */
	margin-bottom: -15px; /*Dùng để thiết lập khoảng cách giữa nút bấm và các cạnh của nó. */
	position: relative; /*Dùng để thiết lập một nút bấm trong menu. */
	z-index: 99; /*Dùng để thiết lập một nút bấm trong menu. */
	border: none; /*Dùng để thiết lập viền của nút bấm. */
	border-radius: 3px; /*Dùng để thiết lập bo tròn các góc của nút bấm. */
	top: -23px; /*Dùng để thiết lập khoảng cách giữa nút bấm và các cạnh của nó. */
	padding: 5px; /*Dùng để thiết lập khoảng cách giữa nội dung của nút bấm và các cạnh của nó. */
	right: 5px; /*Dùng để thiết lập khoảng cách giữa nút bấm và các cạnh của nó. */
	margin-top: -5px; /*Dùng để thiết lập khoảng cách giữa nút bấm và các cạnh của nó. */
}
.slicknav_menu .slicknav_icon { /*Dùng để thiết lập một icon trong menu. */
	margin-right: 6px; /*Dùng để thiết lập khoảng cách giữa icon và các cạnh của nó. */
	margin-top: 3px; /*Dùng để thiết lập khoảng cách giữa icon và các cạnh của nó. */
	position: relative; /*Dùng để thiết lập một icon trong menu. */
	right: 5px; /*Dùng để thiết lập khoảng cách giữa icon và các cạnh của nó. */
	top: -5px; /*Dùng để thiết lập khoảng cách giữa icon và các cạnh của nó. */
	padding-bottom: 3px; /*Dùng để thiết lập khoảng cách giữa icon và các cạnh của nó. */
}
.slicknav_nav .slicknav_arrow { /*Dùng để thiết lập một mũi tên trong menu. */
	float: right; /*Dùng để đẩy phần tử sang bên phải của phần tử cha. */
	font-size: 22px; /*Dùng để thiết lập kích thước chữ của mũi tên. */
	position: relative; /*Dùng để thiết lập một mũi tên trong menu. */
	top: -9px; /*Dùng để thiết lập khoảng cách giữa mũi tên và các cạnh của nó. */
}
.slicknav_menu .slicknav_nav a:hover { /*Dùng để thiết lập một liên kết trong menu. */
	background: transparent; /*Dùng để thiết lập màu nền của liên kết. */
	color: #dca73a; /*Dùng để thiết lập màu chữ của liên kết. */
}